.card {
    background-color: var(--transpire-dark-gray);
    border-radius: var(--transpire-border-radius);
    width: 350px;
}

.cardTitle {
    font-size: 1.25rem;
    font-family: 'Rubik';
    color: var(--transpire-white);
    text-align: left;
    padding: 1.5rem 1.5rem 1rem 1.5rem;
    width: calc(100% - 3rem);
}

.cardContent {
    width: calc(100% - 3rem);
    height: calc(100% - 1.5rem);
    padding: 0 1.5rem 1.5rem 1.5rem;
}